{% extends 'empty.html.twig' %}

{% block title %}Logowanie - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/login') }}
{% endblock %}

{% block body %}
    <section>
        <form action="{{ path('login') }}" method="post" class="login{% if not error %} enter{% endif %}">
            {% if error %}
                <div class="general-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="fieldset">
                <input placeholder="login" type="text" id="username" name="_username" value="{{ last_username }}" autofocus>
            </div>
            <div class="fieldset">
                <input placeholder="hasło" type="password" id="password" name="_password">
            </div>
            <div class="fieldset">
                <input class="button" type="submit" value="Zaloguj">
            </div>
        </form>
    </section>
    <section>
        <div class="actions">
            <a class="default" href="{{ url('register') }}">Załóż konto</a>
        </div>
    </section>
{% endblock %}
