{% extends 'base.html.twig' %}

{% block title %}Social Insurance{% endblock %}

{% block body %}
    {% for base in bases %}
        <div class="caption">{{ base.fullMonth }}</div>
        <section class="last">
                <div class="anchor social_insurance element">
                    <div class="menu">
                        <a href="{{ path('social_insurance_change', {'id': base.id, 'action': 'pay'}) }}"><i class="material-icons">attach_money</i></a>
                        <a href="{{ path('social_insurance_change', {'id': base.id, 'action': 'undo_payment'}) }}"><i class="material-icons">money_off</i></a>
                    </div>
                    <a href="#">
                        <span class="date">{{ base.minimalSalary|price  }}</span>{{ base.averageSalary|price  }}<span class="value right"></span>
                    </a>
                </div>
        </section>
    {% endfor %}
{% endblock %}
