{% extends 'base.html.twig' %}

{% block title %}Kontrahenci{% endblock %}

{% block body_class %}{% if companies|length == 0 %}empty{% endif %}{% endblock %}

{% block current %}Kontrahenci{% endblock %}
{% block head %}{% if companies|length != 0 %}<h2>Kontrahenci</h2>{% endif %}{% endblock %}

{% block body %}
    <section>
    {% for company in companies %}
        <div class="anchor">
            <a href="{{ path('show_company', {'id': company.id}) }}">{{ company.name }}</a>
            <div class="menu">
                <a href="{{ path('edit_company', {'id': company.id}) }}"><i class="material-icons">edit</i></a>
                <a href="{{ path('delete_company', {'id': company.id}) }}"><i class="material-icons">delete</i></a>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}

{% block submenu %}
    <div class="new">
        <a href="{{ path('new_company') }}"><i class="material-icons">add</i></a>
    </div>
{% endblock %}
