<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}kahaniel{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Square&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/js/datepicker/themes/default.css">
        <link rel="stylesheet" href="/js/datepicker/themes/default.date.css">
        <link rel="stylesheet" href="/js/datepicker/themes/default.time.css">

        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <script src="/js/autocomplete.js"></script>
        <script src="/js/hammer.min.js"></script>
        <script src="/js/datepicker/picker.js"></script>
        <script src="/js/datepicker/picker.date.js"></script>
        <script src="/js/datepicker/picker.time.js"></script>
        <script src="/js/datepicker/legacy.js"></script>
        <script src="/js/datepicker/translations/pl_PL.js"></script>

        <script src="/js/main.js"></script>

        {{ encore_entry_link_tags('css/cf') }}
        {{ encore_entry_link_tags('css/common') }}
        {{ encore_entry_link_tags('css/app') }}
        {{ encore_entry_script_tags('js/app') }}
        {{ encore_entry_script_tags('js/validation') }}

    </head>
    <body class="{% block body_class %}{% endblock %}" id="body">
        <header>
            <div class="lefty">
                <i class="material-icons white menu-icon">menu</i>
                <a class="logo" href="{{ url('home') }}">KAHANIEL</a>
                <span>{% block current %}{% endblock %}</span>
            </div>
            <div class="wrapper">
                {# search #}
            </div>
            <div class="righty">
                <a href="{{ url('logout') }}"><i class="material-icons white logout-icon">close</i></a>
            </div>
        </header>
        <div class="content">
            <div class="lefty">
                <ul class="menu">
                    <li class="profits"><a href="{{ url('documents') }}"><i class="material-icons">class</i><span>Dokumenty</span></a></li>
                    <li class="companies"><a href="{{ url('companies') }}"><i class="material-icons">account_circle</i><span>Kontrahenci</span></a></li>
                    <li class="insurance"><a href="{{ url('social_insurance') }}"><i class="material-icons">local_hospital</i><span>ZUS</span></a></li>
                    <li class="report"><a href="{{ url('reports') }}"><i class="material-icons">event_note</i><span>Płatności</span></a></li>
                </ul>
            </div>
            <div class="wrapper">
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endfor %}
                <div class="head">{% block head %}{% endblock %}</div>
                <div class="body">{% block body %}{% endblock %}</div>
            </div>
        </div>
        {% block submenu %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
