<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}kahaniel{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="/css/clearfix.css">
        <link rel="stylesheet" href="{{ url('scss/main') }}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="header">
            <div class="lefty">
                <i class="material-icons white menu-icon">menu</i>
                {% block current %}{% endblock %}
            </div>
            <div class="wrapper">
                {# search #}
            </div>
        </div>
        <div class="content">
            <div class="lefty">
                <ul class="menu">
                    <li class="profits"><a href="{{ url('profit_documents') }}"><i class="material-icons">show_chart</i><span>Zyski</span></a></li>
                    <li class="costs"><a href="{{ url('cost_documents') }}"><i class="material-icons rtl">show_chart</i><span>Koszta</span></a></li>
                    <li class="insurance"><a href="{{ url('social_insurance') }}"><i class="material-icons">account_circle</i><span>ZUS</span></a></li>
                    <li class="companies"><a href="{{ url('companies') }}"><i class="material-icons">person</i><span>Kontrahenci</span></a></li>
                    <li class="report"><a href=""><i class="material-icons">event_note</i><span>Raport</span></a></li>
                </ul>
            </div>
            <div class="wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block submenu %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
