{% extends 'base.html.twig' %}

{% block title %}{{ document.categoryText }} {{ document.number }} - {{ parent() }}{% endblock %}

{% block head %}
    <nav>
        <div class="lefty">
            <a href="{{ url('documents') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="righty">
            <a href="{{ path('edit_document', {'id': document.id}) }}"><i class="material-icons">edit</i></a>
            <a href="{{ path('positions', {'document_id': document.id}) }}"><i class="material-icons">list_alt</i></a>
            <a data-confirm="true" href="{{ path('delete_document', {'id': document.id}) }}"><i class="material-icons">delete</i></a>
        </div>
    </nav>
{% endblock %}

{% block body %}
<div class="single_document">
    <div class="section header">
        <h1>{{ document.categoryText }} {{ document.number }}</h1>
        <div class="date">Data wystawienia: {{ document.issueDate|date('d.m.Y') }}</div>
        <div class="place">Miejsce wystawienia: {{ document.place }}</div>
    </div>
    <div class="section ownership">
        <div class="seller">
            <div class="title">Sprzedawca</div>
            <div class="name">{{ document.seller.name }}</div>
            <div class="address1">{{ document.seller.addressLine1 }}</div>
            <div class="address2">{{ document.seller.addressLine2 }}</div>
            <div class="tax_id">{{ document.seller.nip }}</div>
        </div>
        <div class="buyer">
            <div class="title">Nabywca</div>
            <div class="name">{{ document.buyer.name }}</div>
            <div class="address1">{{ document.buyer.addressLine1 }}</div>
            <div class="address2">{{ document.buyer.addressLine2 }}</div>
            <div class="tax_id">{{ document.buyer.nip }}</div>
        </div>
    </div>
    <div class="section positions">
        <table>
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th>Nazwa towaru lub usługi</th>
                    <th>PKWiU</th>
                    <th>Jednostka</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>Stawka VAT</th>
                    <th>Wartość netto</th>
                    <th>Wartość VAT</th>
                    <th>Wartość brutto</th>
                </tr>
            </thead>
            <tbody>
            {% for position in document.positions %}
                <tr>
                    <td>{{ position.position }}</td>
                    <td class="lefty">{{ position.title }}</td>
                    <td>{{ position.category }}</td>
                    <td>{{ position.unitText }}</td>
                    <td>{{ position.amount }}</td>
                    <td>{{ position.net|price }}</td>
                    <td>{{ position.taxPercent|percent }}</td>
                    <td>{{ position.netTotal|price }}</td>
                    <td>{{ position.taxTotal|price }}</td>
                    <td>{{ position.grossTotal|price }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="blank"></td>
                    <td class="lefty">Razem</td>
                    <td class="center-align">{{ document.netTotal|price }}</td>
                    <td class="center-align">{{ document.taxTotal|price }}</td>
                    <td class="center-align">{{ document.grossTotal|price }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="section details">
        <div class="payment_details">
            <div class="payment_type">
                <span class="label">Forma zapłaty:</span>
                <span class="value">{{ document.paymentTypeText }}</span>
            </div>
            <div class="payment_date">
                <span class="label">Termin zapłaty:</span>
                <span class="value">{{ document.paymentDate|date("d.m.Y") }}</span>
            </div>
            {% if document.accountNumber %}
            <div class="bank">
                <span class="label">Bank:</span>
                <span class="value">{{ document.accountNumber|bank }}</span>
            </div>
            {%  endif %}
            {% if document.accountNumber %}
            <div class="account_number">
                <span class="label">Numer konta:</span>
                <span class="value">{{ document.accountNumber|account_number }}</span>
            </div>
            {%  endif %}
        </div>
        <div class="payment_values">
            <div class="total">
                <span class="label">Razem:</span>
                <span class="value">{{ document.gross|price }}</span>
            </div>
            <div class="received">
                <span class="label">Płatność otrzymana:</span>
                <span class="value">{{ 0|price }}</span>
            </div>
            <div class="remain">
                <span class="label">Do zapłaty:</span>
                <span class="value">{{ document.gross|price }}</span>
            </div>
            <div class="to_pay">
                <span class="label">Słownie do zapłaty:</span>
                <span class="value">{{ document.gross|literal }}</span>
            </div>
        </div>
    </div>
    <div class="section signatures">
        <div class="seller_signature">
            Osoba upoważniona do wystawienia
        </div>
        <div class="buyer_signature">
            Osoba upoważniona do odbioru
        </div>
    </div>
</div>
{% endblock %}
